{% extends "base.html" %}

{% block title %}Blog entries{% endblock %}

{% block app_content_title %}
<h1>{% if search %}Search "{{ search }}"{% else %}Blog posts{% endif %}</h1>
<ul></ul>
{% endblock %}

{% block app_content %}
  {% for post in object_list %}
    {% if search %}
      {% set post = post.post %}
    {% endif %}
    <h3>
      <a href="{% if post.published %}{{ url_for('detail', slug=post.slug) }}{% else %}{{ url_for('edit', slug=post.slug) }}{% endif %}">
        {{ post.title }}
          <ul></ul>
        <img src={{ post.image }}>
      </a>
    </h3>
    <p>{{ post.timestamp.strftime('%m/%d/%Y') }}</p>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}