beautifulsoup4
click
Flask
itsdangerous
Jinja2
Mako
Markdown
MarkupSafe
micawber
peewee
Pygments
python-dateutil
python-editor
six
Werkzeug
-e git+git@github.com:jeevcat/flask-bootstrap-4-alpha.git#egg=flask_bootstrap
libsass
watchdog
gunicorn
pymysql
flask_mail
